@import '../../config/globalStyleVars.scss';

.contact-page {
    h1 {
        text-align: center;
        margin-top: $headingTopMargin;
        margin-bottom: $headingBottomMargin;
        --fa-secondary-color: yellow;//$iconTitleGoldTheme;
    }

    .contact-panel {
        margin-top: 1rem;

    }
    .contact-page__form {

        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-input-icon {
            color: $siteMaroon;
        }

        button {
            padding: .5em 10vw;
            background-color: $siteMaroon;
            color: $almostWhite;
            border-radius: 5px;
            border: none;
            align-self: center;
        }
        .contact-page__sender-info {
            display: flex;
            gap: 2rem;

            .contact-page__sender-info-left {
                color: $siteMaroon;
            }

            .contact-page__sender-info-right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1;

                input {
                    padding: .3em .6em;
                    border-radius: 5px;
                    
                }

                
            }

        }

        .contact-page__message {
            display: flex;
            flex-direction: column;
            gap: .25rem;

            textarea {
                padding: .3em .6em;
                border-radius: 5px;
            }
        }

    }
}